In [1]:
import pandas as pd
import numpy as np
import time

In [9]:
import re

In [2]:
import MySQLdb as db

HOST = "gator4264.hostgator.com"
PORT = 3306
USER = "ayazhan_glove"
PASSWORD = "glove"
DB = "ayazhan_glove2"

In [3]:
df = pd.read_csv('master_0.csv')
df1 = pd.read_csv('master_1.csv')
df2 = pd.read_csv('master_2.csv')
df3 = pd.read_csv('master_3.csv')
df4 = pd.read_csv('master_4.csv')
df5 = pd.read_csv('master_5.csv')
df6 = pd.read_csv('master_6.csv')
df7 = pd.read_csv('master_7.csv')
df8 = pd.read_csv('master_8.csv')
df9 = pd.read_csv('master_9.csv')

In [4]:
df = pd.concat([df, df1])
df = pd.concat([df, df2])
df = pd.concat([df, df3])
df = pd.concat([df, df4])
df = pd.concat([df, df5])
df = pd.concat([df, df6])
df = pd.concat([df, df7])
df = pd.concat([df, df8])
df = pd.concat([df, df9])
len(df)

9846

In [5]:
df = df.drop_duplicates(subset=['0'], keep=False)
len(df)

9846

In [6]:
del df1
del df2
del df3
del df4
del df5
del df6
del df7
del df8
del df9

In [48]:
for j in range(5,9):
    start = time.time()
    try:
        connection = db.Connection(host=HOST, port=PORT,
                                   user=USER, passwd=PASSWORD, db=DB)
        dbhandler = connection.cursor()
        for index, row in df[(j-1)*1000:j*1000].iterrows():
            dbhandler.execute("INSERT INTO `glove`(`w1`, `w2`, `w3`, `w4`, `w5`) VALUES ('%s','%s','%s','%s','%s')"%(re.escape(row['0']), re.escape(row['1']), re.escape(row['2']), re.escape(row['3']), re.escape(row['4'])))
    finally:
        connection.close()
    end = time.time()
    print(end - start)

91.745000124
90.9990000725
92.1719999313
90.9360001087

In [51]:
# df.iloc[df['0']=='heigh']
count = 0
for i in df['0']:
    count += 1
    if i == "apartment":
        print count

3552

In [56]:
start = time.time()
try:
    connection = db.Connection(host=HOST, port=PORT,
                               user=USER, passwd=PASSWORD, db=DB)
    dbhandler = connection.cursor()
    for index, row in df[8000:9836].iterrows():
        dbhandler.execute("INSERT INTO `glove`(`w1`, `w2`, `w3`, `w4`, `w5`) VALUES ('%s','%s','%s','%s','%s')"%(re.escape(row['0']), re.escape(row['1']), re.escape(row['2']), re.escape(row['3']), re.escape(row['4'])))
finally:
    connection.close()
end = time.time()
print(end - start)

169.689999819

In [55]:
# df.iloc[3553]
# print len(df)
# df = df.drop([3555])
# print len(df)
# df = df.drop(df.index[apa])
print len(df)

9836