In [6]:
#!/usr/bin/env python
# -*- coding: utf-8 -*-

############################################################
#                                                          #
# Simple script to connect to a remote mysql database      #
#                                                          #
#                                                          #
# Install MySQLdb package by running:                      #
#                                                          #
#                       pip install MySQL-python           #
#                                                          #
############################################################


import MySQLdb as db

HOST = "gator4264.hostgator.com"
PORT = 3306
USER = "ayazhan_glove"
PASSWORD = "glove"
DB = "ayazhan_glove"

try:
    connection = db.Connection(host=HOST, port=PORT,
                               user=USER, passwd=PASSWORD, db=DB)

    dbhandler = connection.cursor()
#     dbhandler.execute("SELECT `w2`, `w3`, `w4`, `w5` FROM `glove` WHERE w1='woode'")
    dbhandler.execute("INSERT INTO `glove`(`w1`, `w2`, `w3`, `w4`, `w5`) VALUES ('%s','%s','%s','%s','%s')"%())
    
    result = dbhandler.fetchall()
    for item in result:
        print item

except Exception as e:
    print e

finally:
    connection.close()

In [7]:
print "INSERT INTO `glove`(`w1`, `w2`, `w3`, `w4`, `w5`) VALUES ('%s','%s','%s','%s','%s')"%('123','234','345','456','567')

INSERT INTO `glove`(`w1`, `w2`, `w3`, `w4`, `w5`) VALUES ('123','234','345','456','567')